/* media query 1300px */
@media (max-width: 82em) {
  html {
    font-size: 60%;
  }

  .container-hero {
    max-width: 120rem;
  }

  .cta-imgs img {
    height: 100%;
  }

  .cta-content {
    height: 80%;
  }

  .btn-cta {
    padding: 0.8rem 1.6rem;
  }
}

/* media query 1100px */
@media (max-width: 70em) {
  html {
    font-size: 55%;
  }
  .pricing-item.left {
    transform: translateX(40%);
  }

  .pricing-item.highlighted {
    transform: translate(120%, 10rem);
  }

  .pricing-item.right {
    transform: translateX(205%);
  }

  .cta-content {
    width: 35%;
  }
}

/* media query 1000px */
@media (max-width: 63em) {
  .container {
    max-width: 100%;
    min-width: 100%;
  }

  .btn-pricing-transition-left {
    top: 95%;
    left: 40%;
  }
  .btn-pricing-transition-right {
    top: 95%;
    right: 40%;
  }
  .pricing-item.left {
    transform: translateX(20%);
  }

  .pricing-item.highlighted {
    transform: translate(105%, 10rem);
  }

  .pricing-item.right {
    transform: translateX(185%);
  }
}

/* media query 900px */
@media (max-width: 56em) {
  .container-hero {
    width: 108rem;
    padding: 0;
  }

  .grid--2--cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-content {
    padding: 0;
  }

  .hero-section {
    justify-items: center;
    background-color: #222;
  }

  .hero-content-box {
    width: 70%;
    height: 70%;
  }

  .hero-section {
    align-items: center;
    height: 600px;
  }

  .hero-img {
    width: 25rem;
  }

  .hero-img-box {
    display: none;
  }

  .img-media {
    display: block;
    position: absolute;
    left: 60%;
    top: 55%;
  }

  .container {
    padding: 0;
    width: 100%;
  }
}
