/* media query 1300px */
@media (max-width: 82em) {
  html {
    font-size: 60%;
  }

  .container-hero {
    max-width: 120rem;
  }

  .cta-imgs img {
    height: 100%;
  }

  .cta-content {
    height: 80%;
  }

  .btn-cta {
    padding: 0.8rem 1.6rem;
  }
}

/* media query 1100px */
@media (max-width: 70em) {
  html {
    font-size: 55%;
  }
  .pricing-item.left {
    transform: translateX(40%);
  }

  .pricing-item.highlighted {
    transform: translate(120%, 10rem);
  }

  .pricing-item.right {
    transform: translateX(205%);
  }

  .cta-content {
    width: 35%;
  }
}

/* media query 1000px */
@media (max-width: 63em) {
  .btn-pricing-transition-left {
    top: 95%;
    left: 40%;
  }
  .btn-pricing-transition-right {
    top: 95%;
    right: 40%;
  }
  .pricing-item.left {
    transform: translateX(20%);
  }

  .pricing-item.highlighted {
    transform: translate(105%, 10rem);
  }

  .pricing-item.right {
    transform: translateX(185%);
  }
}

/* media query 900px */
@media (max-width: 56em) {
  .container-hero {
    padding: 0;
  }

  .grid--2--cols {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Navegador mobile */

  .mobile-navigation-buttons {
    display: block;
    position: relative;
  }

  .btn-navigation {
    width: 9rem;
    height: 9rem;
    z-index: 10000;
    position: relative;
    opacity: 0;
  }

  .icon-nav {
    position: absolute;
    font-size: 9rem;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 20;
    transition: all 0.5s;
  }

  .icon-showed {
    opacity: 100;
  }

  .menu-navigation {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    transform: translateX(100%);
    transition: all 1s;
    background-color: #fafafaab;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    backdrop-filter: blur(5px);
  }

  .list-nav {
    z-index: 3;
    flex-direction: column;
    gap: 6.5rem;
  }

  .list-nav-open {
    transform: translateX(0%);
    opacity: 100%;
    pointer-events: all;
    visibility: visible;
  }

  .list-nav-item a:link,
  .list-nav-item a:visited {
    font-size: 2.4rem;
    transition: all 0.3s;
    font-weight: 600;
    color: inherit;
  }

  .list-nav-item a:hover,
  .list-nav-item a:active {
    color: #222;
  }

  .header-section .btn-full {
    width: 20rem;
    height: 5rem;
    font-size: 2.2rem;
  }

  .hero-content {
    padding: 0;
  }

  .container-hero {
    z-index: -1;
  }

  .hero-section {
    justify-items: center;
    background-color: #222;
  }

  .hero-content-box {
    width: 70%;
    height: 70%;
  }

  .hero-section {
    align-items: center;
    height: 600px;
  }

  .hero-img {
    width: 25rem;
  }

  .hero-img-box {
    display: none;
  }

  .img-media {
    display: block;
    position: absolute;
    left: 60%;
    top: 55%;
  }
}
